* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body {
    background: linear-gradient(135deg, #50506b, #636379);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #242445;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.3);
}

header h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}